<header>
    <a href="/">Главная</a>
    <a href="/about">Про нас</a>
    <a href="/users">Пользователи</a>
    <a href="/register">Регистрация</a>
    <a href="/hospitalMap">Карта</a>
    <a href="/autorize" id="autorize">Аккаунт</a>
</header>
