<header>
    <a href="/">Главная</a>
    <a href="/about">Про нас</a>
    <a href="/users">Пользователи</a>
    <a href="/register">Регистрация</a>
    <a href="/hospitalMap">Карта</a>
    <form id="formSearche" method="post" action="/check-user">
        <input type="text" name="id" placeholder="Имя пользователя">
        <button type="submit">Поиск</button>
    </form>
</header>
