<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка</title>
    <style>
        body {
            background-color: bisque;
            font-family: Arial, Helvetica, sans-serif;
        }
        h1, a {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <h1>Ошибка</h1>
    <a href="/">Попробуйте перейти на главную страницу</a>
</body>
</html>