<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('blocks/header.ejs') -%>
    <h1>Hello dude</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Facilis, molestias? Qui excepturi optio necessitatibus itaque, 
        dolore corporis nulla id velit quam accusamus error eum ab beatae. 
        Voluptas earum ipsa assumenda?</p>
</body>
</html>